<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb add-home</title>
    <link rel="stylesheet" href="add-home.css">
</head>

<body>
    <header>
        <h1>Add New Home</h1>
    </header>
    <main>
        <form action="submit-home" method="post">
            <input type="text" name="home_n  ame" placeholder="Home Name" required>
            <br /><br />
            <input type="submit" />
        </form>
    </main>
</body>

</html>